html,body{
	padding:0;
	margin: 0;
	width:100%;
	height:100%;
	font-family: Roboto Slab;
	background: #5C6BC0

}
*{
	font-weight: 300;
	color:#777;
}
h1{
	font-weight: 200;
	color:#000;
	font-size: 2em;
	margin:35px 0 20px 0;
}

.card{
	position: relative;
	top:50%;
	left:50%;
	background: #fff;
	padding:40px 100px;
	display: inline-block;
	transform:translateX(-50%) translateY(-50%);
	border-radius: 7px;
	text-align: center;
	box-shadow: 1px 3px 5px #444
}
.avatar{
	width: 140px;
	height: 140px;
	position: relative;
	background: #999;
	border-radius: 100%;
	display: inline-block;
}
.avatar img{
	width:100%;
	height:100%;
	border-radius: 100%;
}
.avatar:after{
	content:'';
	position: absolute;
	top:-16px;
	left:-16px;
	width:170px;
	height:170px;
	border:2px solid rgba(0,0,0,0.2);
	border-radius: 100%;
}
.quote{
	border-left: 5px solid #888;
	vertical-align: middle;
	padding:15px 20px;
}
.links{
	margin-top: 40px;
}
.links img{
	margin:0 10px;
	opacity: 0.3
}
.links img:hover{
	opacity: 0.5;
}
.mail_id{
	text-decoration: none;
	letter-spacing: 4px;
	margin:30px 0 0 0;
	display: inline-block;
	font-size: 1em;
}
.mail_id:hover{
	color:#333;
}
@media all and (max-width: 720px){
	.card{
		width:90% !important;
		padding:40px 0;
	}
	.quote{
		display: inline-block;
	}
}